[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,[{metadata,[request_id]},{format,<<"[$level] $message\n">>}]}]},
 {api,
     [{'Elixir.Api.Endpoint',
          [{root,<<"/Users/jeremie/code/elixirhunt">>},
           {secret_key_base,
               <<"FRuHYNg/3yyK34pi+7i4UuNYFNIlDvLbLMGCfN35bAelL/Dn0IIjbQLSuBXL3w1X">>},
           {render_errors,[{accepts,[<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Api.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,4000}]},
           {debug_errors,true},
           {code_reloader,true},
           {check_origin,false},
           {watchers,[]},
           {url,[{host,<<"www.elixirhunt.dev">>},{port,4000}]}]},
      {'Elixir.Api.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"makis123">>},
           {database,<<"elixirhunt_dev">>},
           {hostname,<<"localhost">>},
           {pool_size,10}]},
      {ifttt_key,<<"dp2dP1NCVDdRpZ3IEweYRu">>}]},
 {phoenix,
     [{stacktrace_depth,20},
      {generators,[{migration,true},{binary_id,false}]}]}].
